<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body onload="showAllProducts(event);">
<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <form onsubmit="handleFormSubmit(event)">
        <div class="form-group">
          <button type="button" class="btn btn-info mr-3" id="showAllProductButton"
                  onclick="showAllProducts(event)" >Wyświetl wszystkie</button>
          <div class="d-inline-block mr-3" style="width: calc(100% - 300px);">
            <input type="text" class="form-control" id="id" placeholder="Wyszukaj..." />
          </div>
          <button type="submit" class="btn btn-primary" id="getProductButton">Wyszukaj</button>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table table-bordered mx-auto">
        <thead>
        <tr>
          <th scope="col">Nazwa</th>
          <th scope="col">Typ</th>
          <th scope="col">Kwota</th>
          <th scope="col">Dostawca</th>
        </tr>
        </thead>
        <tbody id="products">
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="product-result" class="alert alert-primary text-center"
     role="alert" style="display:none; width:80%; margin: 0 auto;"></div>

<div class="text-center">
  <button class="btn btn-info mr-3" id="add-button" onclick="showForm(event)" style="width: 20%;">Dodaj produkt</button>
</div>
<div id="form-container" class="row justify-content-center" style="display: none;">
  <form id="add-form">
    <h3 class="text-center">Nowy produkt</h3>
    <div class="form-group">
      <label for="name">Nazwa:</label>
      <input type="text" id="name" name="name" class="form-control">
    </div>
    <div class="form-group">
      <label for="price">Kwota:</label>
      <input type="text" id="price" name="price" class="form-control">
    </div>
    <div class="form-group">
      <label for="supplierId">Dostawca:</label>
      <input type="text" id="supplierId" name="supplierId" class="form-control">
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary" id="addProductButton"
              onclick="addProduct(event)">Dodaj</button>
    </div>
  </form>
</div>
<script type="text/javascript" src="productScripts.js"></script>
</body>
</html>