<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bcryptjs/2.4.3/bcrypt.min.js"
            integrity="sha512-DNI/FJdkfyeuPUal7lDkRVg0mFY2n4IZJJYqPbQWLL0COxLi6G6nmf5gr1vW1Bd4wYC09hOvZVsSclfXxUTU/w=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer">
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
          integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
          crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Zarejestruj się</title>
</head>
<body>
<div class="container text-center">
    <div>
        <h1>Utwórz użytkownika</h1>
    </div>
    <form id="form-register" style="max-width: 600px; margin: 0 auto;">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label">Typ konta: </label>
                <div class="col-8">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="name" value="customer" required>
                        <label class="form-check-label">Klient</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="name" value="supplier">
                        <label class="form-check-label">Dostawca</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Email: </label>
                <div class="col-8">
                    <input type="email" name="email" class="form-control" required />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Nazwa użytkownika: </label>
                <div class="col-8">
                    <input type="text" name="username" class="form-control" required />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Hasło: </label>
                <div class="col-8">
                    <input type="password" name="password" class="form-control"
                           required minlength="6" maxlength="30"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Powtórz hasło: </label>
                <div class="col-8">
                    <input type="password" name="password1" class="form-control"
                           required minlength="6" maxlength="30"/>
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-primary" id="submitBtn">Zarejestruj się</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="registerScripts.js"></script>
</body>
</html>
